<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>授课课件详情</title>
    <link rel="stylesheet" type="text/css" href="css/give_lessons/courseware_detail.css" />
</head>

<body>
    <div class="prepare_main lecture_main">
        <div class="prepare_head">
            <span class="loadurl" data-url="./pages/lecture.html">学情展示</span>
            <span class="loadurl pitch_on" data-url="./pages/repository/teaching_class.html">授课包</span>
            <span class="loadurl" data-url="./pages/comment/classroom_training.html">当堂小测</span>
        </div>
        <div class="class_detail_main">
            <div class="class_detail_head">
                <div class="class_detail_information">
                    <h2>
                        {{resource_detail.resourcename}}(共{{resource_detail.pageNumber}}张{{resource_detail.resourceclass}})</h2>
                    <p>
                        <span><img src="img/public/synopsis.png"/>时间：{{resource_detail.createtime|timeFilter}}</span>
                        <span><img src="img/public/downcount.png"/>下载量：{{resource_detail.downloadnum}}</span>
                        <span><img src="img/public/grade.png"/>页数：{{resource_detail.pageNumber}}</span>
                        <span><img src="img/prepare_lessons/admin.png"/>上传人：{{resource_detail.creatername}}</span>
                    </p>
                </div>
                <div class="class_detail_operation">
                    <div class="class_detail_detail_ico">
                        <span><img src="img/repository/repostory_preview.png"/>详情</span>
                        <div class="class_detail_detail">
                            <img src="img/prepare_lessons/detail_select.png" />
                            <p><b>文件名：</b>{{resource_detail.resourcename}}</p>
                            <p><b>分类：</b>{{resource_detail.typename}}</p>
                            <p><b>年份：</b>{{resource_detail.resourcetime}}</p>
                            <p><b>文件大小：</b>{{resource_detail.resourcesize}}</p>
                            <p><b>资料简介：</b>{{resource_detail.comment}}</p>
                        </div>
                    </div>
                    <span class="download" @click="downloadfile()"><img
                        src="img/repository/repostory_download.png"/>下载</span>
                    <span class="collection" v-on:click="collectClick()">
						<img v-if="resource_detail.count>0" src="img/repository/collect.png"/>
						<img v-else src="img/repository/uncollect.png"/>收藏
					</span>
                    <span class="backtrack"><img src="img/public/backtrack.png">返回</span>
                    <span class="full"><img src="img/comment/full.png"/>全屏</span>
                </div>
            </div>
            <div class="kejian_detail">
                <div class="kejian_detail_main">
                    <div class=" class_detail_main_pic" v-if="resource_detail.resourceImages==null || resource_detail.resourceImages.length==0" v-html="resource_detail.resource_details">
                    </div>
                    <div class="class_detail_main_pic" v-if="resource_detail.resourceImages!=null && resource_detail.resourceImages.length>0">
                        <img v-bind:src="resourceWeb + resimg.imageurl" v-for="resimg in resource_detail.resourceImages">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/give_lessons/courseware_detail.js"></script>

</html>