<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>学案预览页</title>
    <link rel="stylesheet" type="text/css" href="css/zujuan/generate_test.css" />
</head>

<body>
    <div class="prepare_main prepare_lessons_manualquestion_main">
        <div class="prepare_head">
            <span class="loadurl" data-url="./pages/prepare_lessons.html">查看学情</span>
            <span class="loadurl" data-url="./pages/student_analysis/phase_analysis.html">阶段分析</span>
            <span class="loadurl pitch_on" data-url="./pages/repository/repository_class.html">教学参考</span>
        </div>
        <div class="second_level_directory">
            <span class="loadurl" data-url="./pages/repository/repository_class.html"><img
                src="img/repository/kejian_w.png"/><img src="img/repository/kejian.png"/>课件</span>
            <span class="pitch_on loadurl" data-url="./pages/repository/repository_learningcase.html"><img
                src="img/repository/xuean_w.png"/><img src="img/repository/xuean.png"/>学案</span>
            <div class="item_bank">
                <span class="loadurl" data-url="./pages/zujuan/manualquestion.html"><img
                    src="img/repository/questionku_w.png"/><img src="img/repository/questionku.png"/>试题库</span>
                <div class="item_bank_option">
                    <p class="loadurl" data-url="./pages/zujuan/manualquestion.html">手动选题</p>
                    <p class="loadurl" data-url="./pages/zujuan/smartchoice.html">智能选题</p>
                    <p class="loadurl" data-url="./pages/prepare_lessons/taojuan.html">套卷</p>
                </div>
            </div>
            <span class="loadurl" data-url="./pages/repository/upload_resource_list.html"><img
                src="img/repository/myresource_w.png"/><img src="img/repository/myresource.png"/>我的资源</span>
            <button class="backtrack"><img src="img/public/backtrack.png">返回</button>
        </div>
        <div class="test_paper">

            <div class="test_paper_title">
                <h2>{{paper.papername}}</h2>
            </div>
            <!--<div class="test_paper_opreation">
				<span v-if="!is_star" @click="star_paper()">
					<img src="img/zujuan/collect_group.png"/>
					收藏组卷
				</span>
            <span v-else @click="star_paper()">
					<img src="img/zujuan/papers_collected.png"/>
					取消收藏组卷
				</span>
        </div>-->
            <div class="all_question">
                <div class="test_paper_detail" v-for="type_ques in type_ques_list">
                    <div class="dati">
                        <h2>{{type_ques.typeTextName}}</h2>
                    </div>
                    <div class="test_paper_question" v-for="(ques,index) in type_ques.quesitons">
                        <div class="test_paper_question_detail">
                            <p class="tihao">{{ques.topicNumber}}.</p>
                            <div v-html="get_dochtml_all(ques)"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="operation_homework">
                <button type="button" class="save" @click="save_as_homework()"><img src="img/zujuan/save.png"/>保存为作业
                </button>
            </div>-->
            </div>
        </div>
    </div>
    <script src="js/repository/learningcase_detail.js"></script>
</body>

</html>