<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>备课-教学参考-我的资源-详情</title>
    <link rel="stylesheet" type="text/css" href="css/repository/repository_class_detail.css" />
</head>

<body>
    <div class="prepare_main prepare_lessons_class_detail_main">
        <div class="prepare_head">
            <span class="loadurl" data-url="./pages/prepare_lessons.html">查看学情</span>
            <span class="loadurl" data-url="./pages/student_analysis/phase_analysis.html">阶段分析</span>
            <span class="pitch_on loadurl" data-url="./pages/repository/repository_class.html">教学参考</span>
        </div>
        <div class="second_level_directory">
            <span class="loadurl" data-url="./pages/repository/repository_class.html">课件</span>
            <span class="loadurl" data-url="./pages/repository/repository_learningcase.html">学案</span>
            <div class="item_bank">
                <span class="loadurl" data-url="./pages/zujuan/manualquestion.html">试题库</span>
                <div class="item_bank_option">
                    <p class="loadurl" data-url="./pages/zujuan/manualquestion.html">手动选题</p>
                    <p class="loadurl" data-url="./pages/zujuan/smartchoice.html">智能选题</p>
                    <p class="loadurl" data-url="./pages/prepare_lessons/taojuan.html">套卷</p>
                </div>
            </div>
            <span class="loadurl pitch_on" data-url="./pages/repository/upload_resource_list.html">我的资源</span>
        </div>
        <div class="class_detail_main">
            <div class="class_detail_head">
                <div class="class_detail_information">
                    <h2>
                        {{resource_detail.resourcename}}(共{{resource_detail.pageNumber}}张)</h2>
                    <p>
                        <span><img src="img/public/synopsis.png"/>时间：{{resource_detail.createtime|timeFilter}}</span>
                        <span><img src="img/public/downcount.png"/>下载量：{{resource.downloadnum}}</span>
                        <span><img src="img/public/grade.png"/>页数：{{resource_detail.pageNumber}}</span>
                        <span><img src="img/prepare_lessons/admin.png"/>上传人：{{resource_detail.creatername}}</span>
                    </p>
                </div>
                <div class="class_detail_operation">
                    <div class="class_detail_detail_ico">
                        <span><img src="img/repository/repostory_preview.png"/>属性</span>
                        <div class="class_detail_detail">
                            <img src="img/prepare_lessons/detail_select.png" />
                            <p>
                                <b>文件名：</b> {{resource_detail.resourcename}}
                            </p>
                            <p>
                                <b>分类：</b> {{resource_detail.typename}}
                            </p>
                            <p>
                                <b>年份：</b> {{resource_detail.resourcetime}}
                            </p>
                            <p>
                                <b>文件大小：</b> {{resource_detail.resourcesize}}
                            </p>
                            <p>
                                <b>资料简介：</b> {{resource_detail.comment}}
                            </p>
                        </div>
                    </div>
                    <span class="download" @click="downloadfile()"><img
                        src="img/repository/repostory_download.png"/>下载</span>
                    <span class="collection" v-on:click="collectClick()">
							<img v-if="resource_detail.count>0" src="img/repository/collect.png"/>
							<img v-else src="img/repository/uncollect.png"/>收藏
						</span>
                    <!--<span class="delect" v-on:click="delClick()">
							<img src="img/prepare_lessons/delect.png"/>删除
						</span>-->

                    <span class="backtrack"><img src="img/public/backtrack.png">返回</span>
                </div>
            </div>
            <div class="kejian_detail">
                <img v-bind:src="resourceWeb + resimg.imageurl" v-for="resimg in resource_detail.resourceImages">
            </div>
        </div>
    </div>
</body>
<script src="js/repository/repository_class_detail.js"></script>

</html>